/* Center div using CSS */
/* Identify tag to apply rule */
div{
   /* To center a div, we have to change its dimensions i.e. width and height. */
   width: 640px;
   height: 700px;
   /* Change the margin properties to zero and auto. */
   margin: 0 auto; 
   /* border: 1px solid red; */
}

h1{
   font-size: 40px;
}

body{
   font-family: 'Source Serif Pro', serif;
}

