*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    width: 80px;
    height: 80px;
    display: inline-block;
    vertical-align: middle;
}

.logo-centered{
    width: 60px;
    height: 60px;
    margin: 24px auto;
}

body{
    color: #333333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

nav{
    width: 100%;
    padding: 8px 12px;
    height: 100px;
}

.navbar{
    display: flex;
    align-items: center;
}

.navbar-centered{
    justify-content: center;
}

.navbar-right{
    justify-content: space-between;
}

.nav-links{
    display: flex;
    list-style: none;
}

.nav-item a{
   display: inline-block;
   padding: 8px 16px;
   text-decoration: none;
   color:#1D428A;
   font-weight: 500;
}

.nav-item:hover {
    background-color: #FFCD00;
}

.active{
    background-color: #FFCD00;
}

.main-content{
    height: 100vh;
    background-color: #1D428A;
}