*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #EFEFEF;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #333333;
}

h1{
    margin-bottom: 24px;
    margin-top: 24px;
    /* margin: 24px 0; */
    font-weight: 700;
}

table{
    border-collapse: collapse;
    padding: 24px;
    text-align: center;
    vertical-align: middle;
    width:100%; /* Relative unit */
}

td{
    border-bottom: 1px solid #EFEFEF;
    padding: 8px 4px; 
}

caption{
    text-align: left;
    font-weight: 600;
    margin-bottom: 12px;
}

.table-area{
    background-color: #fff;
    border-radius: 16px;
    padding: 32px;
}

.match-time{
    /* padding:0;
    width:20px; */
}

.container{
    width: 960px;
    margin: 0 auto;
}

.container-inner,
.table-area{
    width: 500px;
    margin: 0 auto;
}

.club-icon{
    height: 50px;
    width: 50px;
}